In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv("churn.csv")
df.head()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,Churn
0,8,0,38,0,4370,71,5,17,3,1,1,30,197.640,0
1,0,0,39,0,318,5,7,4,2,1,2,25,46.035,0
2,10,0,37,0,2453,60,359,24,3,1,1,30,1536.520,0
3,10,0,38,0,4198,66,1,35,1,1,1,15,240.020,0
4,3,0,38,0,2393,58,2,33,1,1,1,15,145.805,0

In [4]:
df.isna().sum()

Call  Failure              0
Complains                  0
Subscription  Length       0
Charge  Amount             0
Seconds of Use             0
Frequency of use           0
Frequency of SMS           0
Distinct Called Numbers    0
Age Group                  0
Tariff Plan                0
Status                     0
Age                        0
Customer Value             0
Churn                      0
dtype: int64

In [5]:
df.Churn.value_counts()

Churn
0    2655
1     495
Name: count, dtype: int64

## Without handling class imbalance

In [6]:
X = df.drop('Churn', axis=1)  
y = df['Churn']

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

# Train a Logistic Regression model
model = LogisticRegression(max_iter=2000)  # Increase max_iter if convergence issues occur
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.90      0.99      0.94       531
           1       0.85      0.41      0.56        99

    accuracy                           0.90       630
   macro avg       0.88      0.70      0.75       630
weighted avg       0.89      0.90      0.88       630

C:\Users\avk24\Machine Learning\ML-ZTM Course\ML Basics\env\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Method 1: Undersampling

In [8]:
y_train.value_counts()

Churn
0    2124
1     396
Name: count, dtype: int64

In [9]:
from imblearn.over_sampling import RandomOverSampler

rus = RandomOverSampler(random_state=42)

X_train_rus,y_train_rus = rus.fit_resample(X_train,y_train)

X_train.value_counts()

Call  Failure  Complains  Subscription  Length  Charge  Amount  Seconds of Use  Frequency of use  Frequency of SMS  Distinct Called Numbers  Age Group  Tariff Plan  Status  Age  Customer Value
0              0          35                    0               0               0                 0                 0                        2          1            2       25   0.00              10
                          37                    0               0               0                 0                 0                        2          1            2       25   0.00               8
                          33                    0               0               0                 0                 0                        2          1            2       25   0.00               5
                          34                    0               0               0                 0                 0                        5          1            1       55   0.00               5
                                                                                                                                             2          1            2       25   0.00               4
                                                                                                                                                                                                    ..
                          20                    0               1183            31                13                62                       4          1            1       45   62.85              1
                          7                     0               4275            35                217               11                       3          1            1       30   1040.40            1
                                                                4330            37                210               8                        3          1            1       30   1014.68            1
                          8                     1               2288            29                9                 11                       3          1            1       30   128.68             1
                          3                     0               4005            32                198               4                        3          1            1       30   953.48             1
Name: count, Length: 2311, dtype: int64

In [12]:
df.isna().sum()

Call  Failure              0
Complains                  0
Subscription  Length       0
Charge  Amount             0
Seconds of Use             0
Frequency of use           0
Frequency of SMS           0
Distinct Called Numbers    0
Age Group                  0
Tariff Plan                0
Status                     0
Age                        0
Customer Value             0
Churn                      0
dtype: int64

In [13]:
df.shape

(3150, 14)

In [14]:
df.isna().sum()

Call  Failure              0
Complains                  0
Subscription  Length       0
Charge  Amount             0
Seconds of Use             0
Frequency of use           0
Frequency of SMS           0
Distinct Called Numbers    0
Age Group                  0
Tariff Plan                0
Status                     0
Age                        0
Customer Value             0
Churn                      0
dtype: int64

In [ ]:
total spam emails inthe