In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import math

In [2]:
df = pd.read_csv("car_ownership.csv")
df.head()

   monthly_salary  owns_car
0           22000         0
1           25000         0
2           47000         1
3           52000         0
4           46000         1

In [5]:
X = df[['monthly_salary']]
y = df['owns_car']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

model = LogisticRegression()

model.fit(X_train,y_train)

model.score(X_test,y_test)

1.0

In [6]:
model.predict(X_test)

array([1, 0, 1, 0, 0, 0])

In [7]:
y_test.tolist()

[1, 0, 1, 0, 0, 0]

In [10]:
X_test

    monthly_salary
8            62000
13           29000
9            61000
21           26000
0            22000
11           28000

In [8]:
model.predict_proba(X_test)

array([[0.05404093, 0.94595907],
       [0.70600413, 0.29399587],
       [0.06013358, 0.93986642],
       [0.77134478, 0.22865522],
       [0.84145222, 0.15854778],
       [0.72895826, 0.27104174]])

In [9]:
model.coef_,model.intercept_

(array([[0.00011329]]), array([-4.16141522]))

In [14]:
def segmoid(x):
    return 1/(1+math.exp(-x))

def predict_function(x, model):
    z = model.coef_*x + model.intercept_
    y = segmoid(z[0][0])
    return y

predict_function(62000,model)

0.9459590693100997

In [16]:
# Then where does '0.05404093' comes from ?