In [85]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer

# # 1. Define the categorical features we'd like to transform.
# categorical_features = ['Colour','Make','Doors']

# # 2.Create an instance of the OneHotEncoder.
# one_hot = OneHotEncoder()

# # 3. Create an instance of ColumnTransformer and feed it the transforms we'd like to make.
# transformer = ColumnTransformer([('one_hot',one_hot,categorical_features)], # transformer = List inside the touple 
#                                 remainder='passthrough')

# transformed_X = transformer.fit_transform(X)

# transformed_X

In [86]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [87]:
df = pd.read_csv("home_prices.csv")
df.head()

  locality  area_sqr_ft  price_lakhs  bedrooms
0   Kollur          656         39.0         2
1   Kollur         1260         83.2         2
2   Kollur         1057         86.6         3
3   Kollur         1259         59.0         2
4   Kollur         1800        140.0         3

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   locality     22 non-null     object
 1   area_sqr_ft  22 non-null     int64
 2   price_lakhs  22 non-null     float64
 3   bedrooms     22 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 836.0+ bytes

In [89]:
df.isna().sum()

locality       0
area_sqr_ft    0
price_lakhs    0
bedrooms       0
dtype: int64

In [90]:
df.describe()

       area_sqr_ft  price_lakhs   bedrooms
count    22.000000    22.000000  22.000000
mean   1472.454545   129.313636   2.500000
std     518.796109    98.240338   0.511766
min     656.000000    39.000000   2.000000
25%    1102.500000    67.500000   2.000000
50%    1263.000000    85.800000   2.500000
75%    1687.500000   147.500000   3.000000
max    2600.000000   400.000000   3.000000

In [91]:
df_endoded_1 = pd.get_dummies(df,columns=["locality"],drop_first=True) 
''' 
drop_first : bool, default False 
Whether to get k-1 dummies out of k categorical levels by removing the first level.
'''
df_endoded_1.sample(5) # here we have droped one dolumn to avoid Multicolinearity

    area_sqr_ft  price_lakhs  bedrooms  locality_Kollur  locality_Mankhal
10         2438        316.0         3            False             False
16         1100         54.0         2            False              True
21         1200         85.0         3            False              True
5          1325         80.1         2             True             False
6          1085        116.0         3             True             False

In [95]:
X2 = df.drop("price_lakhs",axis=1)
X2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   locality     22 non-null     object
 1   area_sqr_ft  22 non-null     int64
 2   bedrooms     22 non-null     int64
dtypes: int64(2), object(1)
memory usage: 660.0+ bytes

# Steps to use One hot encoder
1. do the test_train_split
2. Define the catagorical,numerical,repeating, features
3. create an instance of One hot encoder
4. now Set up the Column Transformer
5. fit transform in both X_train and X_test create seprate variable for it.
6. define the model
7. fit the model
8. evaluate the model

In [98]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression

# Split as DataFrame (not .values!)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=42)

# Define categorical features
categorical_features = ['locality']

# Set up the OneHotEncoder
one_hot = OneHotEncoder()

# Set up the ColumnTransformer
transformer = ColumnTransformer(
    transformers=[('one_hot', one_hot, categorical_features)],
    remainder='passthrough'  # Leave other columns untouched
)

# Fit and transform training data
X2_train_enc = transformer.fit_transform(X2_train)

# Only transform test data (don't fit again)
X2_test_enc = transformer.transform(X2_test)

# Train the model
model_2 = LinearRegression()
model_2.fit(X2_train_enc, y2_train)

# Predict
y_preds_2 = model_2.predict(X2_test_enc)

y_preds_2

array([  1.05505646, 278.66098949, 151.86615008,  73.29726377,
       302.58225018])

### Train test Split

#### Model 1 with get Dummies

In [ ]:
X1 = df_endoded_1.drop("price_lakhs",axis=1)
y1 = df_endoded_1.price_lakhs

X1_train,X1_test,y1_train,y1_test = train_test_split(X1,y1,test_size=0.2,random_state=42)

X1_train.shape,X1_test.shape

In [ ]:
y1_train.shape,y1_test.shape

#### Model 2 with get One hot encoder and ColumnTransform

In [ ]:


X2_train.shape,X2_test.shape

In [ ]:
y2_train.shape,y2_train.shape

In [ ]:
# # I think wehave to make a shape right
# X2_train = X2_train.T

# X2_train.shape

### Modle score and evaluation

#### Model 1 with get Dummies

In [ ]:
model_1 = LinearRegression()

model_1.fit(X1_train,y1_train)

y_preds_1 = model_1.predict(X1_test)

y_preds_1

In [ ]:
model_1.score(X1_test,y1_test)

In [ ]:
mse = mean_squared_error(y_true=y1_test,y_pred=y_preds_1)
mse

In [ ]:
mae = mean_absolute_error(y_true=y1_test,y_pred=y_preds_1)
mae

In [99]:
r2_score = r2_score(y_true=y1_test,y_pred=y_preds_1)
r2_score

0.8558905263155381

#### Model 2 with get One hot encoder and ColumnTransform

In [100]:
mse = mean_squared_error(y_true=y2_test,y_pred=y_preds_2)
mse

2834.7103594793043

In [101]:
mae = mean_absolute_error(y_true=y2_test,y_pred=y_preds_2)
mae

43.69411803450022

In [109]:
# r2_score = r2_score(y_true=y2_test,y_pred=y_preds_2)
# r2_score

In [107]:
model_2.score(X2_test_enc, y_preds_2)

1.0